* {
  box-sizing: border box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
/* scroll-behaviour inspired by @SK*/
html {
  scroll-behavior: smooth;
}
/*HEADER*/

.header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.433);
  color: white;
  z-index: 1;
  align-items: center;
}
.header h1 {
  padding: 0.5rem;
  padding: 0;
  line-height: 1.2rem;
}
.underline {
  text-decoration: underline;
  text-decoration-style: double;
}
.logo {
  margin: 0;
  padding: 1rem;
  margin: 1rem;
}
.whitespace {
  height: 1rem;
  width: 100%;
  position: fixed;
  background-color: black;
  top: 0;
}
.logo:hover {
  cursor: pointer;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5vh;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: double;
}

/*MAIN BODY*/
.feature {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.fox-cub {
  background-image: url("./assets/fox-cub-white.jpeg");
}
.fox-blur {
  background-image: url("./assets/fox-blur.jpg");
}
.fox-smile {
  background-image: url("./assets/fox-smile.jpg");
}
.fox-pounce {
  background-image: url("./assets/fox-pounce.jpg");
  background-color: black;
}

.imposed-box {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section:nth-child(even) .imposed-box {
  left: unset;
  right: 50px;
  text-align: right;
}
.nav-containter {
  width: 100%;
  display: flex;
  align-content: center;
  position: relative;
  bottom: -0.5rem;
}
.feature h2 {
  font-size: 1.5rem;
}
.feature h1 {
  font-size: 2rem;
  text-transform: uppercase;
  /* width: 66%; */
}
.feature a {
  text-decoration: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 2rem 0rem;
  max-width: 200px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: lowercase;
}
section:nth-child(even) .imposed-box a {
  padding-left: 3rem;
  padding-right: 2rem;
}
.hover-act:hover {
  color: white;
  background-color: black;
}
.imposed-box div {
  margin-top: 1rem;
}

/*FOOTER*/
.footer-div {
  width: 100%;
  height: 3rem;
  position: relative;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
footer h3 {
  color: white;
  font-weight: unset;
  font-size: 1rem;
}
.bold {
  font-weight: bold;
}
.dbl-underline {
  text-decoration: underline;
  text-decoration-style: double;
}
.footer-logo,
.footer-text,
.container {
  display: flex;
}
.align-center {
  align-self: center;
}

/*EXPERIMENTS*/
html {
  scroll-snap-type: y mandatory;
}
.feature {
  scroll-snap-align: center;
}
.scroll-snap-point {
  scroll-snap-align: start;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
#foxVid {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  height: 90%;
}

/*  */
/*@SK = https://spacey-kappa.vercel.app/*/
